{% extends "omnipi/index_framed.html" %}

{% block site %}Popcorn.js{% endblock %}

{% block head_js %}
{% endblock %}

{% block maincontent %}
<h1>My Files</h1>

<h2>{{ data.root }}
<h2>Folders</h2>
<ul class="button-bar span10"><div class="button-set">
	{% for folder in data.folders %}<li class="button">{{ folder }}</li>{% endfor %}
</div></ul>

<h2>Files</h2>
<ul class="button-bar span10"><div class="button-set">
	{% for file in data.files %}<li class="button">{{ file }}</li>{% endfor %}
</div></ul>
{% endblock %}

{% block footer_js %}
	{{ block.super }}
{% endblock %}