{% extends "omnipi/index_framed.html" %}

{% block site %}Popcorn.js{% endblock %}

{% block head_js %}
{% endblock %}

{% block maincontent %}
		{% if form.is_multipart %}
		<form enctype="multipart/form-data" method="post" action="/sync/push">
		{% else %}
		<form method="post" action="/sync/push">
		{% endif %}
			{% csrf_token %}
			<ul class="op_form">
 				{{ form.as_ul }}
				<li>
					<h3 class="span3">&nbsp;</h3>
					<div class="span7 values">
						<button value="Save" class="save">Save</button>
						<button value="Cancel" class="cancel">Cancel</button>
					</div>
				</li>
			</ul>
		</form>
{% endblock %}

{% block footer_js %}
	{{ block.super }}
{% endblock %}